<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253022004388-q4n8jqtuqab1o21pcq9j61ffhjmqq7pd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253022004388-q4n8jqtuqab1o21pcq9j61ffhjmqq7pd</string>
	<key>API_KEY</key>
	<string>AIzaSyAvsoxq0MDhX2W0OZoY7_HFxU2fSk2xkbU</string>
	<key>GCM_SENDER_ID</key>
	<string>253022004388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.ZainAutomotiveSolution</string>
	<key>PROJECT_ID</key>
	<string>zain-csr</string>
	<key>STORAGE_BUCKET</key>
	<string>zain-csr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253022004388:ios:8d7eeeebc0918e2b</string>
	<key>DATABASE_URL</key>
	<string>https://zain-csr.firebaseio.com</string>
</dict>
</plist>